.vscode/
.idea/
composer.phar
composer.lock
vendor/
test/report.html
test/AssetsTestReport.html
test/Assetsreport.html
test/EntryTestReport.html
test/Entryreport.html
test/Entriesreport.html
test/ImageTransformreport.html
test/result.json
examples/index.php
.DS_Store