.vscode/
.idea/
composer.phar
composer.lock
composer.json
vendor/
test/report.html
test/AssetsTestReport.html
test/EntryTestReport.html
test/Entriestestreport.html
test/ImagetransformTestReport.html
test/ModularBlockReport.html
test/ModularBlockTest.php
test/result.json