<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="./tmp/coverage.xml"/>
      <html outputDirectory="./tmp/report" lowUpperBound="35" highLowerBound="70"/>
      <php outputFile="./tmp/coverage.serialized"/>
      <text outputFile="./stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./tmp/logfile.xml"/>
    <testdoxHtml outputFile="./tmp/testdox.html"/>
    <testdoxText outputFile="./tmp/testdox.txt"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
